.content {
  width: 76%;
  margin-left: 12%;
  margin-top: 5%;
}

.place-images {
  width: 100%;
  height: auto;
}

.navbar {
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:visited {
  color: #00f;
}

a {
  color: #00f;
}

table td .actions {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
table .actions ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

table .actions li {
  background-color: #eee;
  padding: 10px;
  margin: 5px;
}

table {
  width: 100%;
}

table .image {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid #333;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

table .name {
  font-weight: bold;
  font-size: 28px;
  color: #444;
  margin-left: 30px;
}

table .info {
  font-weight: lighter;
}
