<div class="container">
  <div ng-show="showError" class="alert alert-danger" role="alert">
        <strong>Errore</strong> {{ error }}.
  </div>
  <div ng-show="!showError" class="content">
    <div class="page-header">
      <h1>{{ place.name }} | <a href="#/{{ place.id }}/edit">Modifica</a></h1>
    </div>
    <p class="lead">Lingua: <i>{{ place.language }}</i></p>
    <p>Residenti: <i>{{ place.resident }}</i></p>
    <img class="place-images" data-ng-src="data:image/png;base64,{{ place.image }}" alt="{{ place.name}}">
  </div>
</div>
