<div class="container">
  <div ng-show="showError" class="alert alert-danger" role="alert">
        <strong>Errore</strong> modifica record {{ newPlace.id }}. Descrizione: {{ error.textStatus }}
  </div>

  <div ng-show="!showError" class="content">
    <div ng-show="success" class="success" role="alert">
          <strong>Successo</strong> record {{ newPlace.id }} modificato correttamente.
    </div>
    <div class="page-header">
      <h1>Editor</h1>
    </div>
    <form ng-submit="editPlace()">
      <p><label for="name">Nome: </label><input ng-model="name" name="name" type="text" id="name" value="" required></p>
      <p><label for="language">Lingua: </label><input ng-model="language" name="language" type="text" id="language" value="" required></p>
      <p><label for="resident">Residenti: </label><input ng-model="resident" name="resident" type="number" id="resident" value="" required></p>
      <p><label for="image">Immagine: </label><input ng-model="image" name="image" type="file" id="image" onchange="angular.element(this).scope().loadPreview(this)"/></p>
      <p><label for="oldImage">Immagine corrente: </label><img id="oldImage" data-ng-src="data:image/png;base64,{{ place.image }}" width="150" height="150" />
        <label for="newImage">Nuova immagine: </label><img id="newImage" data-ng-src="{{ newImage }}" width="150" height="150" /></p>
      <p><input type="submit" id="submit" value="Invia" /></p>
    </form>
  </div>
</div>
