<div class="container">
  <div ng-show="showError" class="alert alert-danger" role="alert">
    <strong>Errore</strong> {{ error }}.
  </div>

  <div ng-show="!showError" class="content">
    <table>
      <!-- <th>Immagine</th><th>Nome</th><th>Lingua</th><th>Residenti</th><th>Azioni</th> -->
      <tr ng-repeat="place in places">
        <td class="image" style="background-image:url(data:image/png;base64,{{ place.image }})"></td>
        <td class="name">{{ place.name }}</td>
        <td class="info">{{ place.language }}</td>
        <td class="info">{{ place.resident }}</td>
        <td class="actions">
          <div class="actions">
            <ul>
              <li><a href="data:application/octet-stream;base64,{{ place.image }}" style="button" download="{{ place.image}}.png" ng-click="downloadImage(place)">Download</a></li>
              <li><a href="#/{{ place.id }}/edit" style="button" ng-click="editPlace(place)">Modifica</a></li>
              <li><a href="#/{{ place.id }}">Dettagli</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
